<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center blended"></h1>
    <h2 class="text-center blended-reg-bg">Дичок</h2>
    <br />
    <p class="lead">
      <.link
        phx-click="schedule_request"
        phx-debounce="1000"
        phx-throttle="1500"
        class="btn btn-blended-neuro btn-lg blended d-flex justify-content-center"
      >
        {gettext("Generate neuro")}
      </.link>
    </p>
  </div>
</div>
