<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center blended"></h1>
    <h2 class="text-center blended-reg-bg">{@statistics_text}</h2>
    <br />
    <p class="lead">
      {inspect(@statistics)}
    </p>
  </div>
</div>
