@import "bootstrap.min.css";

/* This file is for your main application CSS */

@font-face {
    font-family: "Bender";
    font-weight: normal;
    src: url("../fonts/Bender.otf") format("opentype");
}

@font-face {
    font-family: "BenderBold";
    font-weight: bold;
    src: url("../fonts/BenderBold.otf") format("opentype");
}

@font-face {
    font-family: "SF";
    src: url("../fonts/SFProText-Regular.ttf");
}

body {
    font: 40px/1.5 "Bender", cursive;
}

h2 {
    font-family: "Bender";
}

h1 {
    font-family: "Bender";
}

a {
    font-family: "Bender";
}

p {
    font-family: "Bender";
}

.scav-back {
    background: url("/images/back.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blended-border {
    border-color: #a5a5a5;
}

.btn-blended {
    background-color: #d49300 !important;
}

.btn-blended:hover {
    background-color: rgb(195, 195, 195) !important;
}

.blended {
    color: #a5a5a5;
}

.blended-reg-bg {
    font-size: 250%;
    color: #a5a5a5;
}

.blended-nav {
    color: #212529 !important;
    background-color: #d49300 !important;    
}

.blended-nav:hover {
    background-color: rgb(195, 195, 195) !important;
}

.background-container {
    background-color: #3a3a46 !important;
    padding-bottom: 10px;
    border-radius: 40px;
}

.navbar-scav {
    padding-left: 14px;
    padding-right: 14px;
}

/* incomment in better times */
/* .ai-badge {
    background: linear-gradient(45deg, #4d6bfe, #677ff7);
    animation: aiPulse 2s infinite;
}

@keyframes aiPulse {
    0%, 100% { box-shadow: 0 0 60px rgba(74, 158, 255, 0.3); }
    50% { box-shadow: 0 0 60px rgba(74, 158, 255, 0.8); }
} */

.btn-blended-neuro {
    color: #212529 !important;
    background-color: #4d6bfe !important;
    color: #fff !important;
    font-family: "SF";
    font-size: 280%;
    border-radius: 18px;
}

.btn-blended-neuro:hover {
    color: #fff !important;
    background-color: #5a95ec !important;
    font-family: "SF";
    border-radius: 18px;
}

.blended-active {
    color: #212529 !important;
    background-color: #4d6bfe !important;
    color: #fff !important;
    font-family: "SF";
    border-radius: 18px;
}

.blended-active:hover {
    color: #fff !important;
    background-color: #5a95ec !important;
    font-family: "SF";
    border-radius: 18px;
}

.blend-font {
    color: #fff !important;
    border-radius: 18px;
    font-family: "SF";
}

.blend-font:hover {
    color: #fff !important;
    background-color: #5a95ec !important;
    font-family: "SF";
    border-radius: 18px;
}

.blended-reg {
    color: #a5a5a5;
}

.legendary {
    color: darkorange;
}

.epic {
    color: darkorchid;
}

.uncommon {
    color: darkgreen;
}

.border-uncommon {
    border: 6px solid darkgreen;
    border-radius: 20px 20px 20px 20px;
}

.border-rare {
    border: 6px solid dodgerblue;
    border-radius: 20px 20px 20px 20px;
}

.border-epic {
    border: 6px solid darkorchid;
    border-radius: 20px 20px 20px 20px;
}

.border-legendary {
    border: 6px solid darkorange;
    border-radius: 20px 20px 20px 20px;
}
